.pages {
    /* margin: 10px 10px 10px 10px;
    border: 2px solid rgb(199, 199, 129);
    position: relative; */
    width: 450px;
    float: right;
    margin-top: 150px;
    margin-right: 150px; 
  }
 
  .codexbox1{
    position: absolute;
    right: 720px;
    height: 100vh;
    width: 50%;
    top: 0px;
  }
  .text1{
    margin-bottom: 20px;
  }
  .text2{
  display: inline;
 }
 h3{
  
   font-weight: bold;
 }
 span{
   color: #3FA8E4;
 }
 .btn1{
  background-color: #3FA8E4;
   padding: 5px 25px 5px 25px;
   height: 40px;
   border-radius: 15px;
   border: none;
   color: aliceblue;
 }
 span{
   padding-left: 230px ;
 }
 /* .codexbox1{
   width: 50%;
 } */
 
  
 